$color-primary: #4E6E81;
$color-secondary: #F9DBBB;
$color-secondary-lighter: #FF0303;
$color-secondaryo: #2E3840;
$color-button: white;
$gradient-bg: linear-gradient(to right, $color-primary, $color-secondaryo);

$color-border: #F9DBBB;
$color-cross: $color-secondary-lighter;
$color-circle: $color-primary;
$color-mark-hover: gray;


$cell-size: 100%;
$mark-size: 70%;
$mark-border-cross: 1rem solid $color-cross;
$mark-border-circle: 1rem solid $color-circle;
$mark-border-hover: 1rem solid $color-mark-hover;

$border-width: 0.5px;

$corner-elements: 1rem;

$xl-text: 7rem;
$lg-text: 4rem;
$md-text: 2.5rem;
$button-tex: 2.5rem;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tilt+Warp&display=swap');

// RESET
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: '', sans-serif;
}

body {
  background: $gradient-bg;
  padding: 4rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: $xl-text;
  color: $color-secondary;
  margin: 0;
}

button {
  font-size: $md-text;
  font-family: inherit;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: $corner-elements;
  border: none;
  color: black;
  background-color: $color-button;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: gray;
  width: 80vw;
  max-width: 800px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  border-bottom: 0px 2rem 0px -10px $color-primary;
}

// INTERFACE
.container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  
  & dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $lg-text;
    
    width: 80%;
    padding: 2rem;
    background-color: white;
    border-radius: $corner-elements;
  }

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 2.5rem;
    margin-top: 1rem;
    align-items: center;

    & .score{
      font-size: 3rem;
    }

    & .score-crosses {
      color: $color-cross;
    }
    & .score-circle {
      color: $color-circle;
    } 
    & button {
      font-size: $md-text;
      padding: 1rem;
      border-radius: 0.75rem;
      border: none;
      cursor: pointer;
    }
    & button:active {
      transform: scale(1.1);
    }
  }
}

// GAME ASSETS 

.board {
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, auto);

  & .cell {
    height: $cell-size;
    border: $border-width solid $color-border;
    cursor: pointer;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* DRAW BOARD LINES */

  & :nth-child(-n+3) {
    border-top: none;
  }

  & :nth-child(3n+1) {
    border-left: none;
  }

  & :nth-last-child(-n+3) {
    border-bottom: none;
  }

  & :nth-child(3n+3) {
    border-right: none;
  }
}

.circle::after,
.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
  content: '';
  width: $mark-size;
  height: $mark-size;
  border-radius: 50%;
  border: $mark-border-circle;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
  border: $mark-border-hover;
}

.cross::after,
.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  content: '';
  width: 0;
  height: calc($mark-size * 1.25);
  border-left: $mark-border-cross;

  position: absolute;
  top: 50%;
  left: 50%;
}

.cross::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  border-left: $mark-border-hover;
}