@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tilt+Warp&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "", sans-serif;
}

body {
  background: linear-gradient(to right, #4E6E81, #2E3840);
  padding: 2rem;
}

h1 {
  font-size: 7rem;
  color: #F9DBBB;
  margin: 0;
}

button {
  font-size: 2.5rem;
  font-family: inherit;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  color: black;
  background-color: white;
}

.container {
  padding: 2rem;
  border-radius: 2rem;
  background-color: gray;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 0px 2rem 0px -10px #4E6E81;
}

.container {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  width: 80%;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}
.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 2.5rem;
  margin-top: 1rem;
  align-items: center;
}
.container nav .score {
  font-size: 3rem;
}
.container nav .score-crosses {
  color: #FF0303;
}
.container nav .score-circle {
  color: #4E6E81;
}
.container nav button {
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}
.container nav button:active {
  transform: scale(1.1);
}
.container .board {
  margin: 0 auto;
  width: 90vw;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* DRAW BOARD LINES */
}
.container .board .cell {
  height: 100%;
  border: 0.5px solid #F9DBBB;
  cursor: pointer;
  position: relative;
}
.container .board :nth-child(-n+3) {
  border-top: none;
}
.container .board :nth-child(3n+1) {
  border-left: none;
}
.container .board :nth-last-child(-n+3) {
  border-bottom: none;
}
.container .board :nth-child(3n+3) {
  border-right: none;
}
.container .circle::after,
.container .board.circle-plays .cell:not(.cross):not(.circle):hover::after {
  content: "";
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1rem solid #4E6E81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .board.circle-plays .cell:not(.cross):not(.circle):hover::after {
  border: 1rem solid gray;
}
.container .cross::after,
.container .cross::before,
.container .board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.container .board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  content: "";
  width: 0;
  height: 87.5%;
  border-left: 1rem solid #FF0303;
  position: absolute;
  top: 50%;
  left: 50%;
}
.container .cross::after,
.container .board.cross-plays .cell:not(.cross):not(.circle):hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.container .cross::before,
.container .board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.container .board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.container .board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  border-left: 1rem solid gray;
}

/*# sourceMappingURL=style.css.map */
